#storeBanner{
	margin-top: 20px;
	margin-bottom: 20px;
}

#storeMenu{
	font-size: 30px;
	text-decoration: none;
	margin-bottom: 20px;
}

#selected{
	font-weight: bold;
	color: #000000;
}

#unSelected{
	font-weight: lighter;
	color: #000000;
}

#profileImg{
	display: inline-block;
}

#userInfo{
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

#nick{
	font-size: 30px;
	font-weight: bold;
	color: #429485;
}

#userDeclaration{
	text-decoration: none;
	font-size: 15px;
	vertical-align: middle;
	color: #AAA;
}

.totalStarScore{
	width: 100%;
	height: 170px;
	border: 1px solid #000000;
	padding-top: 30px;
	color: #000000;
	line-height: 30px;
	font-size: 45px;
	
	display: flex;
	flex-direction: column; /* 자식 요소들을 수직으로 정렬 */
	align-items: center; /* 수직 정렬에서 가로축 기준 가운데 정렬 */
	margin: 0 auto; /* 전체 박스를 가운데 정렬 */
}

.wrap-star {
	text-align: left;
	height: 55px;
	width: 304px;
	margin-top: 20px; 
}

.star-rating {
	width: 304px;
}

.star-rating,.star-rating span {
	display: inline-block;
	height: 55px;
	overflow: hidden;
	background: url(http://localhost/meonggae_prj/common/My/image/star.png) no-repeat;
}
	
.star-rating span {
	background-position: left bottom;
	line-height: 0;
	vertical-align: top;
}

.reviewerName{
	font-size: 20px;
	font-weight: bold;
	color: #000000;
}

.noReview{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #40BEA7;
	padding: 40px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.stars{
	font-size: 18px;
	font-weight: bold;
	color: #FFEC1B;
	display: inline-block;
}

.scoreFont{
	font-size: 16px;
	color: #747474;
	display: inline-block;
}

.reviewContent{
	font-size: 20px;
	margin-top: 20px;
	margin-left: 30px;
}

.moreReviewWrap{
	text-align: center;
}

.moreReviewBtn{
	width: 70px;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid #40BEA7;
	background-color: #40BEA7;
	border-radius: 5px;
}