<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.meonggae.event">
<!-- 이벤트 총 개수 -->
<!-- EVENT_STATUS='종료'; -->
<select id="selectTotalCount" resultType="int" parameterType="pagingVO">
select count(*) from VIEW_EVENT
where EVENT_STATUS=#{eventStatus}
</select>
<!-- 이벤트 목록 -->
<select id="selectEventList" resultType="com.store.meonggae.event.domain.EventDomain" parameterType="pagingVO">
select rnum, EVENT_NUM as eventNum, title, img, start_date, end_date, input_date, cnt, event_status
from (
select EVENT_NUM, title, img, start_date, end_date, input_date, cnt, event_status,
row_number() over(order by start_date desc, end_date asc) rnum
from VIEW_EVENT
<where>
	<if test="keyword != null and keyword != ''">
		REPLACE(
		<choose>
			<when test="field == 0">
			title
			</when>
			<when test="field == 1">
			content
			</when>
			<when test="field == 2">
			event_status
			</when>
		</choose>
		, ' ', '') like '%'||REPLACE(#{ keyword }, ' ', '')||'%'
	</if>
	<if test="eventStatus != null and eventStatus != ''">
		<choose>
			<when test='eventStatus.equals("진행")'>
		 		and to_date(end_date,'yyyy-mm-dd') >= to_date(to_char(SYSDATE, 'yyyy-mm-dd'),'yyyy-mm-dd')
			</when>
			<when test='eventStatus.equals("종료")'>
				and <![CDATA[to_date(end_date,'yyyy-mm-dd') < to_date(to_char(SYSDATE, 'yyyy-mm-dd'),'yyyy-mm-dd')]]>
			</when>
		</choose>
	</if>
</where>
) where rnum between #{ startPageNum }  and #{ endPageNum }
</select>
<!-- 이벤트 상세페이지 event_num -->
<select id="selectDetailEvent" resultType="com.store.meonggae.event.domain.EventDomain" parameterType="int">
	select title, content, img, start_date, end_date, cnt
	from event
	where event_num=#{ eventNum, jdbcType=VARCHAR }
</select>
<!-- 조회수 cnt -->
<update id="updateCnt" parameterType="int">
	update event
	set cnt=cnt+1
	where event_num=#{event_num, jdbcType=VARCHAR}
</update>
<!-- 이벤트 캐러셀 -->
<select id="eventCarousel" resultType="com.store.meonggae.event.domain.EventDomain">
select EVENT_NUM as eventNum, img, title
from VIEW_EVENT
where EVENT_STATUS='진행'
</select>
</mapper>