<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="properties/database.properties"/>
<typeAliases>
	
	<typeAlias type="kr.co.sist.domain.InquiryDomain" alias="id"/>
	<typeAlias type="kr.co.sist.domain.ReportDomain" alias="rd"/>
	
	<typeAlias type="kr.co.sist.vo.SearchVO" alias="searchVO"/>
	<typeAlias type="kr.co.sist.vo.InquiryVO" alias="inquiryVO"/>
	<typeAlias type="kr.co.sist.vo.ReportVO" alias="reportVO"/>
	
	
</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${connectionURL}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/co/sist/dao/mapper/inquiryMapper.xml"/>
    <mapper resource="kr/co/sist/dao/mapper/reportMapper.xml"/>

  </mappers>
</configuration>