@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.event-board{
	width: 100%;
	height: 100%;
/* 	500 */
}

.list {
    width: 100%;
}

.list ul {
	width: 1140px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.list-item {
    display: flex;
}

.container{
	border: 1px;
}

.article {
    display: flex;
	padding-top: 25px;
	margin-bottom: 20px;
}

.pagination {
    text-align: center; /* 중앙 정렬 */
    margin-top: 20px; /* 위쪽 여백 추가 */
}

.list--event {
    margin-bottom: 20px; /* 여유 공간 추가 */
}

hr{
	color: #d9d9d9;
}

.event-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%; /* 높이를 100%로 설정 */
    text-align: center;
}
.list-item:hover .container {
            border: 1px solid #333;
        }

 .list-item:hover .image-container img {
            filter: brightness(50%); /* 이미지의 밝기를 50%로 조절 */
            transition: 0.3s;
        }
.image-container {
    flex: 0 0 70%;
}

.image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.list__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 컨텐츠를 위아래로 분배 */
    flex-grow: 1; /* 여유 공간을 채우도록 설정 */
    padding: 10px;
}

.list__subject {
    font-size: 1.2em;
    font-weight: bold;
}

.list__term, .list__receive {
    font-size: 0.9em;
    color: #666;
}

.list__status {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
}

.list__status--ongoing {
    color: green;
}
a{
	text-decoration: none;
	color: black;
}