@charset "UTF-8";
#dupResult{position: absolute; top: 240px; left: 110px}
#btns{position: absolute; font-size:19px; color: black; text-decoration: none; top: 70px; left: 70px;}
#btns strong{border:solid 2px #666666; border-radius: 7px; padding: 7px; background-color: #BEEFFF;}