@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"], input[type="file"], select, textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.radio-group {
	display: flex;
	gap: 10px;
}

.form-section {
	margin-bottom: 20px;
}

.form-section h2 {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.form-actions {
	text-align: center;
}

.btn {
	background-color: #d7e99a;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.btn2 {
	background-color: #f2bcbc;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.btn-secondary {
	background-color: #5bc0de;
}

.btn-warning {
	background-color: #ef3d3d
}

.image-preview {
	width: 100%;
	max-width: 300px; /* 최대 너비 설정 */
	height: auto;
	max-height: 300px; /* 최대 높이 설정 */
	object-fit: contain;
	border: 1px solid #ccc;
	margin-top: 10px;
	margin-bottom: 15px;
}